<div id="home" class="home">
    <div class="img"></div>
    <div class="text-container">
        <div class="title">
            <h1>
                Olá, eu sou Luiz Jose!
            </h1>
        </div>
        <div class="description">
            <p>Sou Desenvolvedor Front-End, Back-End e Mobile...</p>
        </div>
    </div>
</div>
<main id="sobre">
    <div class="title">
    <h1>Sobre</h1>
</div>
<div class="container-about">
    <div class="photo">
        <img width="250px" src="../../../assets/perfil.jpg" alt="">
    </div>
    <div class="descritivo">
        <h1>Olá, meu nome é Luiz Jose Carneiro.</h1>
        <p>
        Sou Desenvolvedor de sistemas Full-Stack, Movido por uma paixão por Técnologia e buscando facilitar algumas tarefas.
        Atualmente estou trabalhando no desenvolvimento de dois Sistemas utilizando angular para web e ionic para mobile e back-end com php e banco de dados mysql e firebase.
        Sou formado em Técnivo em Informática e estou cursando Análise e Desenvolvimento de Sistemas.</p>
    </div>
</div>
</main>
