<div id="home" class="home">
    
    <div class="text-container">
        <div class="title">
            <h1>
                Olá, Seja bem-vindo ao meu portifólio
            </h1>
        </div>
        <div class="description">
           <div class="static">Eu sou desenvolvedor </div> 
           <ul class="dinamic">
            <li><span>Full-stack & Mobile! </span></li>
           </ul> 
        </div>
    </div>
    <div class="img">
        <img src="../../../assets/home.png" alt="">
    </div>
</div>
<main id="sobre">
  
    <div class="title">
    <h1>Sobre mim</h1>
</div>
<div class="container-about">
    <div class="photo">
        <img width="250px" src="../../../assets/perfil.jpg" alt="">
    </div>
    <div class="descritivo">
        <h1>Olá, meu nome é Luiz Jose Carneiro.</h1>
        <p>
        Sou Desenvolvedor de sistemas Full-Stack, Movido por uma paixão por Técnologia e buscando facilitar algumas tarefas.
        Atualmente estou trabalhando no desenvolvimento de dois Sistemas utilizando angular para web e ionic para mobile e back-end com php e banco de dados mysql e firebase.
        Sou formado em Técnivo em Informática e estou cursando Análise e Desenvolvimento de Sistemas.</p>
    </div>
</div>
</main>
<div class="skills">
   
    
    <div class="title">
        <h1>Hard Skills</h1>
    </div>
    <div class="carousel">
        <div data-js="carousel__item" class="carousel__item carousel__item--visible">
            <div class="card">
          <img width="150px" height="150px"  src=".././../../assets/icons/js.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/css.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/html.svg" />
        </div>
        </div>
    
        <div data-js="carousel__item" class="carousel__item">
            <div class="card">
          <img width="150px" height="150px" src=".././../../assets/icons/ionic.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/angular-icon.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/php.svg" />
        </div>
        </div>
        <div data-js="carousel__item" class="carousel__item">
            <div class="card">
          <img width="150px" height="150px" src=".././../../assets/icons/git-hub.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/figma.svg" />
          <img width="150px" height="150px" src=".././../../assets/icons/firebase.svg" />
        </div>
        </div>
    
        <div class="carousel__actions">
          <button data-js="carousel__button--prev" aria-label="Slide anterior">
            <
          </button>
    
          <button data-js="carousel__button--next" aria-label="Próximo slide">
            >
          </button>
        </div>
      </div>
            
</div>
<div id="projetos">

</div>
<div id="contatos">

</div>